mixin getContent(parent, isPrimary, page)
    main.content(class=`${parent}__content`)
        if isPrimary
            | Main page
        else
            if page === 'error'
                | Error page
            else if page === 'block'
                | Blocked page
