extends ../templates/template

block SEO
  +genMeta('keywords', company.seoInfo.keywords)
  +genMeta('description', company.seoInfo.description)
  title= company.seoInfo.title + '- 404 (page not found!)'

block Content
  +getContent('page', false, 'error')
