extends ../templates/template

block SEO
  +genMeta('keywords', company.seoInfo.keywords)
  +genMeta('description', company.seoInfo.description)
  title= company.seoInfo.title + '- countdown for openning a site'

block Content
  +getContent('page', false, 'block')
